@{
    ViewData["Title"] = "Time";
}
<h1>@ViewData["Title"]</h1>

<p>The date is @ViewBag.date</p>
<p>The timestr is @ViewBag.timestr</p>
<p>The time is @ViewBag.time</p>
<p>The timezone is @ViewBag.timezone</p>
<p>The offset is @ViewBag.offset</p>

<p>Use this page to detail your site's privacy policy.</p>
